﻿body
{
	background-color: Silver;
	margin: 0;
	padding: 0;
}

.allcontent
{
	background-color: Silver;
	width: 80%;
	margin-left: 100px;
	margin-right: 100px;
	margin-top: -60px;
	border: 2px solid white;
}

#lb
{
	background-color: #D0D941;
	color: #000;
	width: 200px;
	-webkit-transform: rotate(-40deg);
	-moz-transform: rotate(-40deg);
	-o-transform: rotate(-40deg);
	margin-top: 30px;
	margin-left: -50px;
}

a
{
	text-decoration: none;
	color: #ffffff;
}

#pzag
{
	color: White;
}

li
{
	list-style-type: none;
	padding: 15px;
	width: 80px;
	border: 1px solid #DEEFED;
	text-align: center;
}

li:hover
{
	padding: 15px;
	width: 80px;
	text-align: center;
	list-style-type: none;
	background-color: #6495ED;
	border: 1px solid white;
}

header
{
	background-color: Coral;
}

#headerbox
{
	background-color: Coral;
	border-radius: 10px;
	box-shadow: inset 10px;
	padding: 5px;
}

#podvalbox
{
	background-color: Coral;
	border-radius: 10px;
	box-shadow: inset 10px;
}

#navigat
{
	background-color: Silver;
}

aside
{
	padding: 5px;
	float: right;
	color: White;
	width: 20%;
	text-align: justify;
}

article
{
	background: #f0f0f0;
	border-radius: 10px;	
	float: left;
	text-align: left;
	padding: 8px;
	width: 75%;
	margin-bottom: 5px;
}

#boxnav
{
	width: 18%;
	float: left;
}

#boxcontent
{
	width: 82%;
	float: right;
}

footer
{
	
	text-align: right;
	background: Coral;
	padding: 10px;
	width: 98%-1px;
	border: 1px solid white;
	height: 25px;
	margin-top: 520px;
}

i
{
	font-size: small;
	}

